/*
  To embed HUE lamp icons in HTML, use the following tag:
    <div class="lamp COLOR"></div>
  where COLOR is one of the classes defined below.

  To control icon size, set the default size in the .lamp class (either
  relative, in ems, or fixed, in pixels). Choose any size, provided the ratio
  width/hight is 3/5. For example,

  width: 3em; height: 5em;
  width: 30px; height: 50px;
  width: 45px; height: 75px;
  width: 60px; height: 100px;
  width: 75px; height: 125px;
  width: 90px; height: 150px;
  width: 105px; height: 175px;
  width: 120px; height: 200px;

  A specific icon size can be set with the HTML style attribute, as in
    <div class="lamp COLOR" style="width:1.5em;height:2.5em"></div>

  To remove border, either comment out or remove the border property in
  the .lamp class.

  leszek.holenderski@philips.com, Jan 2017
*/

.lamp {
  display: inline-block;
  background-image: url("lamp-icons.jpeg");
  background-size: 500% 300%;
  width: 45px; height: 75px;
  border: 1px solid #ddd;
}

.white   { background-position: 8% 25% }
.yellow  { background-position: 35% 25% }
.blue    { background-position: 64.33% 25% }
.green   { background-position: 93.5% 25% }
.red     { background-position: 7% 83.9% }
.orange  { background-position: 35% 83.9% }
.rainbow { background-position: 64.33% 83.9% }
.off     { background-position: 93.5% 83.9% }
